* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: "TT Norms Pro";
  src: url("../fonts/TT Norms Pro Light.otf") format("truetype"); }
.everywhere {
  display: flex;
  align-items: center; }

input, textarea {
  padding-left: 40px !important; }

.first-header {
  color: #ffffff;
  background-image: url("../image/header-background.svg");
  background-repeat: no-repeat; }
  .first-header .choco {
    width: 220px;
    top: 250px; }
    .first-header .choco img {
      width: 100%; }
  .first-header .choco2 {
    right: 40px;
    top: 200px;
    width: 141px; }
    .first-header .choco2 img {
      width: 100%; }
  .first-header .choco3 {
    width: 280px;
    right: 0;
    bottom: 250px;
    z-index: 4; }
    .first-header .choco3 img {
      width: 100%; }
  .first-header .name {
    margin-left: 24px; }
    .first-header .name h3, .first-header .name p {
      font-family: "TT Norms Pro", serif;
      margin: 0;
      font-style: normal;
      font-weight: bolder;
      font-size: 20px;
      line-height: 28px; }
  .first-header .languages {
    margin-left: 84px; }
  .first-header .questions {
    margin-left: 114px; }
    .first-header .questions .logos-number a {
      font-size: 24px;
      margin-left: 12px;
      color: #ffffff;
      font-weight: bold; }
  .first-header .questions p, .first-header .languages a, .first-header .name p {
    color: #b7bdd0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px; }
  .first-header .questions p {
    margin: 0; }
  .first-header .questions img:nth-child(2) {
    margin-left: 6px; }
  .first-header .languages a:nth-child(2) {
    margin-top: 4px; }
  .first-header .button {
    position: absolute;
    right: -20px; }
  .first-header .header-title {
    margin-top: 56px; }
    .first-header .header-title h3, .first-header .header-title h2 {
      font-family: "TT Norms Pro", serif;
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 40px;
      margin-bottom: 12px; }
    .first-header .header-title h2 {
      font-weight: bold;
      font-size: 52px;
      line-height: 64px;
      font-family: "Spectral", serif;
      margin-bottom: 51px; }
  .first-header .header-img {
    width: 1129px;
    margin-bottom: 100px; }

.header-boxes .box, .section-boxes .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 136px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 9px; }
  .header-boxes .box img, .section-boxes .box img {
    margin-bottom: 16px; }

button:hover {
  transition: 0.4s !important;
  background: #000 !important; }

button {
  outline: none !important;
  box-shadow: none !important;
  color: #ffffff !important;
  padding: 16px 32px !important;
  background-color: #8EBA2C !important;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500; }

button img {
  margin-right: 12px; }

hr {
  border-top: 0.1px solid #b7bdd0; }

section {
  background-color: #fcaf58; }
  section .linear-div {
    width: 1105px;
    margin-top: 125px;
    height: 40px;
    background-color: #fff;
    border-radius: 50px;
    margin-bottom: 90px; }
  section .box {
    margin-bottom: 102px !important;
    height: 100% !important; }
    section .box h2 {
      font-family: "Spectral", serif;
      font-weight: bold;
      font-size: 50px;
      line-height: 76px; }
    section .box p {
      font-family: "TT Norms Pro", serif;
      font-weight: normal;
      font-size: 24px;
      line-height: 28px; }

main .kulcha, .da .kulcha {
  left: -50px;
  top: 272px;
  width: 341px; }
main .kulcha2, .da .kulcha2 {
  top: 594px;
  right: 0; }
main .burma, .da .burma {
  top: 25px;
  left: 0;
  width: 255px; }
  main .burma img, .da .burma img {
    width: 100%; }
main .title h2, .da .title h2 {
  font-family: "Spectral", serif;
  margin-top: 120px;
  font-weight: bolder;
  font-size: 52px;
  line-height: 64px; }
main .main-boxes, .da .main-boxes {
  box-shadow: 0 0 10px #c7cde2;
  text-align: center;
  margin-top: 59px;
  height: 280px; }
  main .main-boxes h3, .da .main-boxes h3 {
    margin-bottom: 11px;
    font-family: "TT Norms Pro", serif;
    font-style: normal;
    font-weight: bold;
    margin-top: 33px;
    font-size: 20px;
    line-height: 23px; }
main .input-row, .da .input-row {
  border-radius: 18px;
  padding: 12px;
  margin: 64px 0 0 0 !important;
  box-shadow: 0 8px 67px rgba(127, 136, 155, 0.2); }
main .div-input, .da .div-input {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #b7bdd0;
  padding: 52px 150px 36px 150px; }
  main .div-input h3, .da .div-input h3 {
    font-family: "Spectral", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px; }
  main .div-input p, .da .div-input p {
    margin-top: 12px;
    margin-bottom: 24px;
    font-family: "TT Norms Pro", serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px; }
  main .div-input .myForm, .da .div-input .myForm {
    width: 100%;
    justify-content: space-between; }
    main .div-input .myForm input, .da .div-input .myForm input {
      margin-right: 16px;
      width: 280px;
      height: 55px; }
    main .div-input .myForm button, .da .div-input .myForm button {
      width: 254px;
      height: 55px; }
main .main-boxes-2 .main-boxes, .da .main-boxes-2 .main-boxes {
  height: 323px;
  width: 220px; }
  main .main-boxes-2 .main-boxes h2, main .main-boxes-2 .main-boxes p, .da .main-boxes-2 .main-boxes h2, .da .main-boxes-2 .main-boxes p {
    text-decoration: none !important;
    font-family: "TT Norms Pro", serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px; }
  main .main-boxes-2 .main-boxes p, .da .main-boxes-2 .main-boxes p {
    padding: 15px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px; }

.da .input-row {
  position: absolute !important;
  z-index: 2;
  width: 1130px;
  top: -175px !important;
  margin-top: 0 !important; }
.da .div-input {
  padding: 36px 144px 52px 156px; }
  .da .div-input h3 {
    margin-top: 12px; }
  .da .div-input p {
    margin-bottom: 0; }
  .da .div-input h3, .da .div-input p {
    color: #1d2124; }

.last-main {
  background-color: #303030;
  padding-bottom: 48px; }
  .last-main .title h2 {
    margin-top: 50px;
    margin-bottom: 30px;
    color: #ffffff; }
  .last-main .brands {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    height: 185px;
    border-radius: 6px; }
  .last-main .brands:last-child {
    margin-top: 20px; }

.last-section {
  background-color: #ffffff;
  margin-top: 128px; }
  .last-section img {
    width: 624px !important; }
  .last-section h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    font-family: "Spectral", serif; }
  .last-section p {
    margin-top: 19px;
    font-family: "TT Norms Pro", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px; }
  .last-section h3 {
    margin-top: 28px;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px; }
  .last-section textarea {
    margin-top: 33px; }
  .last-section input {
    height: 55px;
    margin-top: 16px; }
  .last-section button {
    width: 254px;
    margin-top: 24px; }

main .collapses button:nth-child(1) {
  margin-top: 48px; }
main .collapses button {
  box-shadow: 0 0 5px #b7bdd0;
  margin-top: 19px;
  background-color: #ffffff !important;
  color: #1d2124 !important;
  height: 70px; }
main .collapses button:hover {
  box-shadow: 0 5px 10px #b7bdd0;
  font-weight: 600; }
main .collapses p {
  margin-top: 24px; }
main .inputs-second .input-row {
  margin-top: 48px !important; }
main .inputs-second .div-input {
  padding: 36px 41px 34px 41px; }
  main .inputs-second .div-input .myForm {
    width: 100%; }
    main .inputs-second .div-input .myForm input, main .inputs-second .div-input .myForm button {
      margin-top: 16px;
      width: 100% !important;
      height: 55px; }

.only-desktop {
  display: block; }

.only-mobile {
  display: none; }

.only-desktop-flex {
  display: flex; }

footer {
  margin-top: 100px;
  background: #000;
  padding: 43px 0 66px 0 !important; }
  footer .footer .logo-name .logos-number {
    margin-left: 51px; }
    footer .footer .logo-name .logos-number a {
      text-decoration: none;
      margin-left: 7px;
      font-weight: bold;
      font-size: 28px;
      line-height: 33px;
      color: #ffffff; }
  footer .footer .logo-name .name {
    margin-left: 24px; }
    footer .footer .logo-name .name h3 {
      font-size: 20px;
      line-height: 28px;
      color: #ffffff !important; }
    footer .footer .logo-name .name p {
      margin: 0;
      font-size: 14px;
      line-height: 20px;
      color: #B7BDD0; }

@media (max-width: 576px) {
  .only-desktop {
    display: none; }

  .only-mobile {
    display: block; }

  .only-desktop-flex {
    display: none; }

  .first-header .choco {
    left: -100px;
    width: 166px;
    top: 150px; }
    .first-header .choco img {
      width: 100%; }
  .first-header .choco2 {
    right: 0;
    top: 155px;
    width: 74px;
    z-index: 4; }
  .first-header .choco3 {
    width: 180px;
    opacity: 0.7;
    top: 330px; }
  .first-header .logo img {
    width: 47px; }
  .first-header .logo h3 {
    margin-left: -7.5px;
    margin-top: 6px;
    font-weight: bold;
    font-size: 12px;
    line-height: 28px; }
  .first-header .logo-name {
    align-items: start; }
  .first-header .name {
    margin-left: 5px; }
    .first-header .name p {
      letter-spacing: 0.04em;
      font-size: 10px !important;
      line-height: 16px !important; }
  .first-header .questions {
    margin-left: 50px; }
    .first-header .questions img {
      width: 22px; }
    .first-header .questions .logos-number a {
      margin-left: 5px;
      font-size: 13px;
      line-height: 32px; }
    .first-header .questions button {
      margin-top: 6px;
      display: flex;
      align-items: center;
      font-size: 8px;
      line-height: 20px;
      padding: 3.5px 4.5px !important;
      width: 135px;
      height: 27px; }
      .first-header .questions button img {
        margin-right: 3.5px;
        width: 11px; }
  .first-header .questions img:nth-child(2) {
    margin-left: -5px; }
  .first-header .header-title {
    margin-top: 24px; }
    .first-header .header-title h3, .first-header .header-title h2 {
      margin-bottom: 0;
      text-align: start !important;
      font-size: 17px;
      line-height: 40px; }
    .first-header .header-title h2 {
      margin-top: 0 !important;
      font-size: 50px;
      line-height: 67px;
      letter-spacing: -0.02em; }
  .first-header .align-items-md-center {
    justify-content: space-between;
    padding: 15px 15px 0 22px !important; }
  .first-header .header-img {
    margin-top: 47px;
    width: 356px;
    margin-bottom: -72px;
    z-index: 5; }

  .header-boxes .box, .section-boxes .box {
    margin-top: 42px;
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 9px; }
    .header-boxes .box img, .section-boxes .box img {
      margin-bottom: 18px;
      width: 62px; }

  .section-boxes .box:nth-child(1) {
    margin-top: 447px !important; }
  .section-boxes .box:nth-child(4) {
    margin-bottom: 42px !important; }
  .section-boxes .box {
    margin-bottom: 0 !important;
    margin-top: 41px !important; }
    .section-boxes .box h2 {
      font-size: 41px;
      line-height: 62px; }
    .section-boxes .box p {
      font-size: 16px;
      line-height: 19px; }

  main .kulcha, .da .kulcha {
    right: 0;
    top: 272px;
    width: 127px; }
  main .kulcha2, .da .kulcha2 {
    top: 594px;
    right: 0; }
  main .title h2, .da .title h2 {
    margin-top: 39px;
    font-size: 29px;
    line-height: 40px; }
  main .main-boxes, .da .main-boxes {
    padding: 31px 0 0 0;
    height: 155px;
    margin-top: 17px; }
    main .main-boxes img, .da .main-boxes img {
      width: 70px; }
    main .main-boxes h3, .da .main-boxes h3 {
      margin-top: 12px;
      font-size: 16px;
      line-height: 15px; }
  main .input-row, .da .input-row {
    width: unset !important;
    background-color: #fff;
    border-radius: 18px;
    padding: 12px;
    margin: 64px 0 0 0 !important;
    box-shadow: 0 8px 67px rgba(127, 136, 155, 0.2); }
  main .div-input, .da .div-input {
    padding: 10px 29px 18px 29px; }
    main .div-input h3, .da .div-input h3 {
      margin-bottom: 0;
      font-size: 21px;
      line-height: 29px; }
    main .div-input p, .da .div-input p {
      margin-top: 6px;
      margin-bottom: 10px;
      font-size: 12px;
      line-height: 32px; }
    main .div-input .myForm, .da .div-input .myForm {
      width: 100%; }
      main .div-input .myForm form, .da .div-input .myForm form {
        flex-direction: column; }
      main .div-input .myForm input, main .div-input .myForm button, .da .div-input .myForm input, .da .div-input .myForm button {
        margin-top: 18px;
        margin-right: 0;
        width: 276px;
        height: 44px; }
      main .div-input .myForm button, .da .div-input .myForm button {
        padding: 13px 64px;
        font-size: 16px; }
  main .main-boxes-2 .main-boxes, .da .main-boxes-2 .main-boxes {
    height: 188px;
    width: 170px; }
    main .main-boxes-2 .main-boxes img, .da .main-boxes-2 .main-boxes img {
      width: 54px; }
    main .main-boxes-2 .main-boxes h2, main .main-boxes-2 .main-boxes p, .da .main-boxes-2 .main-boxes h2, .da .main-boxes-2 .main-boxes p {
      font-size: 15px;
      line-height: 18px; }
    main .main-boxes-2 .main-boxes p, .da .main-boxes-2 .main-boxes p {
      font-size: 13px;
      line-height: 15px; }
  main .main-boxes-2 .main-boxes:nth-child(1), main .main-boxes-2 .main-boxes:nth-child(2), .da .main-boxes-2 .main-boxes:nth-child(1), .da .main-boxes-2 .main-boxes:nth-child(2) {
    margin-top: 44px; }

  .da .input-row {
    margin-top: 220px !important;
    margin-right: 15px !important; }

  .last-main .brands {
    height: 94px; }
    .last-main .brands img {
      width: 64px; }

  .inputs-second .input-row .div-input {
    padding: 12px 16px 23px 16px !important; }
    .inputs-second .input-row .div-input h3 {
      font-size: 29px;
      line-height: 47px; }
    .inputs-second .input-row .div-input p {
      font-size: 14px;
      line-height: 26px; }

  .inputs-second {
    margin-bottom: 56px; }

  .last-section {
    margin-top: 34px; }
    .last-section .col-12 h2 {
      text-align: center;
      font-size: 29px;
      line-height: 48px; }
    .last-section .col-12 img {
      width: 364px !important; }
    .last-section .col-12 h3 {
      font-size: 17px;
      line-height: 20px; }

  footer {
    margin-top: 0;
    padding: 25px 0 33px 15px !important; }
    footer .only-mobile .logo-name .logo img {
      width: 47px; }
    footer .only-mobile .logo-name .name {
      margin-left: 13px; }
      footer .only-mobile .logo-name .name .per {
        font-size: 12px;
        line-height: 17px;
        margin-top: 20px;
        color: #8a8a8a;
        text-decoration: underline; }
      footer .only-mobile .logo-name .name h3, footer .only-mobile .logo-name .name p {
        color: #ffffff;
        font-size: 12px;
        margin-bottom: 0; }
      footer .only-mobile .logo-name .name p {
        margin-top: 5px;
        letter-spacing: 0.04em;
        color: #B7BDD0;
        font-size: 10px;
        line-height: 16px; }
    footer .only-mobile .logo-name .logos-number {
      margin-left: 55px; }
      footer .only-mobile .logo-name .logos-number .address, footer .only-mobile .logo-name .logos-number .time {
        font-size: 12px;
        line-height: 20px; }
        footer .only-mobile .logo-name .logos-number .address img, footer .only-mobile .logo-name .logos-number .time img {
          width: 15px; }
      footer .only-mobile .logo-name .logos-number .time img {
        width: 18px; }
      footer .only-mobile .logo-name .logos-number img:nth-child(2) {
        margin-left: -5px; }
      footer .only-mobile .logo-name .logos-number a {
        font-size: 13px;
        line-height: 32px;
        color: #ffffff;
        margin-left: 5px; } }

/*# sourceMappingURL=main.css.map */
