* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "TT Norms Pro";
  src: url("../fonts/TT Norms Pro Light.otf") format("truetype");
}

$p-text-color: #b7bdd0;
$main-text-color: #ffffff;
$text-color: #272d2d;
$main-color: #fcaf58;
$title-font-size: 58px;
$input-title-font-size: 36px;
$input-simple-text-font-size: 24px;
$button-bg-color: #8EBA2C;
$font-family: "TT Norms Pro", serif;
$main-font-family: "Spectral", serif;

.everywhere {
  display: flex;
  align-items: center;
}

input, textarea {
  padding-left: 40px !important;
}

.first-header {
  color: $main-text-color;
  background-image: url("../image/header-background.svg");
  background-repeat: no-repeat;

  .choco {
    width: 220px;
    top: 250px;

    img {
      width: 100%;
    }
  }

  .choco2 {
    right: 40px;
    top: 200px;
    width: 141px;

    img {
      width: 100%;
    }
  }

  .choco3 {
    width: 280px;
    right: 0;
    bottom: 250px;
    z-index: 4;

    img {
      width: 100%;
    }
  }

  .name {
    margin-left: 24px;

    h3, p {
      font-family: $font-family;
      margin: 0;
      font-style: normal;
      font-weight: bolder;
      font-size: 20px;
      line-height: 28px;
    }
  }

  .languages {
    margin-left: 84px;
  }

  .questions {
    margin-left: 114px;

    .logos-number a {
      font-size: 24px;
      margin-left: 12px;
      color: $main-text-color;
      font-weight: bold;
    }
  }

  .questions p, .languages a, .name p {
    color: $p-text-color;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
  }

  .questions p {
    margin: 0;
  }

  .questions img:nth-child(2) {
    margin-left: 6px;
  }

  .languages a:nth-child(2) {
    margin-top: 4px;
  }

  .button {
    position: absolute;
    right: -20px;

  }

  .header-title {
    margin-top: 56px;

    h3, h2 {
      font-family: $font-family;
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 40px;
      margin-bottom: 12px;
    }

    h2 {
      font-weight: bold;
      font-size: 52px;
      line-height: 64px;
      font-family: $main-font-family;
      margin-bottom: 51px;
    }


  }

  .header-img {
    width: 1129px;
    margin-bottom: 100px;
  }

}

.header-boxes, .section-boxes {
  .box {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 136px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 9px;

    img {
      margin-bottom: 16px;
    }
  }
}

button:hover {
  transition: 0.4s !important;
  background: #000 !important;
}

button {
  outline: none !important;
  box-shadow: none !important;
  color: $main-text-color !important;
  padding: 16px 32px !important;
  background-color: $button-bg-color !important;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

button img {
  margin-right: 12px;
}

hr {
  border-top: 0.1px solid #b7bdd0;
}

section {
  background-color: $main-color;

  .linear-div {
    width: 1105px;
    margin-top: 125px;
    height: 40px;
    background-color: #fff;
    border-radius: 50px;
    margin-bottom: 90px;
  }

  .box {
    margin-bottom: 102px !important;
    height: 100% !important;

    h2 {
      font-family: $main-font-family;
      font-weight: bold;
      font-size: 50px;
      line-height: 76px;
    }

    p {
      font-family: $font-family;
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;
    }
  }
}

main, .da {
  .kulcha {
    left: -50px;
    top: 272px;
    width: 341px;
  }

  .kulcha2 {
    top: 594px;
    right: 0;
  }

  .burma {
    top: 25px;
    left: 0;
    width: 255px;

    img {
      width: 100%;
    }
  }

  .title {
    h2 {
      font-family: $main-font-family;
      margin-top: 120px;
      font-weight: bolder;
      font-size: 52px;
      line-height: 64px;

    }
  }

  .main-boxes {
    box-shadow: 0 0 10px #c7cde2;
    text-align: center;
    margin-top: 59px;
    height: 280px;

    h3 {
      margin-bottom: 11px;
      font-family: $font-family;
      font-style: normal;
      font-weight: bold;
      margin-top: 33px;
      font-size: 20px;
      line-height: 23px;
    }
  }

  .input-row {
    border-radius: 18px;
    padding: 12px;
    margin: 64px 0 0 0 !important;
    box-shadow: 0 8px 67px rgba(127, 136, 155, 0.2);

  }

  .div-input {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #b7bdd0;
    padding: 52px 150px 36px 150px;

    h3 {
      font-family: $main-font-family;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 48px;
    }

    p {
      margin-top: 12px;
      margin-bottom: 24px;
      font-family: $font-family;
      font-weight: normal;
      font-size: 24px;
      line-height: 32px;
    }

    .myForm {
      width: 100%;
      justify-content: space-between;

      input {
        margin-right: 16px;
        width: 280px;
        height: 55px;
      }

      button {
        width: 254px;
        height: 55px;
      }
    }
  }

  .main-boxes-2 .main-boxes {
    height: 323px;
    width: 220px;

    h2, p {
      text-decoration: none !important;
      font-family: $font-family;
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
    }

    p {
      padding: 15px;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
    }
  }
}

.da {
  .input-row {
    position: absolute !important;
    z-index: 2;
    width: 1130px;
    top: -175px !important;
    margin-top: 0 !important;
  }

  .div-input {
    padding: 36px 144px 52px 156px;

    h3 {
      margin-top: 12px;
    }

    p {
      margin-bottom: 0;
    }

    h3, p {
      color: #1d2124;
    }
  }
}

.last-main {
  background-color: #303030;
  padding-bottom: 48px;

  .title h2 {
    margin-top: 50px;
    margin-bottom: 30px;
    color: #ffffff;
  }

  .brands {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    height: 185px;
    border-radius: 6px;
  }

  .brands:last-child {
    margin-top: 20px;
  }
}

.last-section {
  background-color: #ffffff;
  margin-top: 128px;

  img {
    width: 624px !important;
  }

  h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    font-family: $main-font-family;
  }

  p {
    margin-top: 19px;
    font-family: $font-family;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
  }

  h3 {
    margin-top: 28px;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
  }

  textarea {
    margin-top: 33px;
  }

  input {
    height: 55px;
    margin-top: 16px;
  }

  button {
    width: 254px;
    margin-top: 24px;
  }
}

main {
  .collapses {
    button:nth-child(1) {
      margin-top: 48px;
    }

    button {
      box-shadow: 0 0 5px #b7bdd0;
      margin-top: 19px;
      background-color: #ffffff !important;
      color: #1d2124 !important;
      height: 70px;
    }

    button:hover {
      box-shadow: 0 5px 10px #b7bdd0;
      font-weight: 600;
    }

    p {
      margin-top: 24px;
    }
  }

  .inputs-second {
    .input-row {
      margin-top: 48px !important;
    }

    .div-input {
      padding: 36px 41px 34px 41px;

      .myForm {
        width: 100%;

        input, button {
          margin-top: 16px;
          width: 100% !important;
          height: 55px;
        }
      }
    }
  }
}

.only-desktop {
  display: block;
}

.only-mobile {
  display: none;
}

.only-desktop-flex {
  display: flex;
}

footer {
  margin-top: 100px;
  background: #000;
  padding: 43px 0 66px 0 !important;

  .footer {
    .logo-name {
      .logos-number {
        margin-left: 51px;

        a {
          text-decoration: none;
          margin-left: 7px;
          font-weight: bold;
          font-size: 28px;
          line-height: 33px;
          color: #ffffff;
        }
      }

      .name {
        margin-left: 24px;

        h3 {
          font-size: 20px;
          line-height: 28px;
          color: #ffffff !important;
        }

        p {
          margin: 0;
          font-size: 14px;
          line-height: 20px;
          color: #B7BDD0;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .only-desktop {
    display: none;
  }
  .only-mobile {
    display: block;
  }
  .only-desktop-flex {
    display: none;
  }


  .first-header {

    .choco {
      left: -100px;
      width: 166px;
      top: 150px;

      img {
        width: 100%;
      }
    }

    .choco2 {
      right: 0;
      top: 155px;
      width: 74px;
      z-index: 4;

    }

    .choco3 {
      width: 180px;
      opacity: 0.7;
      top: 330px;

    }

    .logo {
      img {
        width: 47px;
      }

      h3 {
        margin-left: -7.5px;
        margin-top: 6px;
        font-weight: bold;
        font-size: 12px;
        line-height: 28px;
      }
    }

    .logo-name {
      align-items: start;
    }

    .name {
      margin-left: 5px;

      p {
        letter-spacing: 0.04em;
        font-size: 10px !important;
        line-height: 16px !important;
      }
    }

    .questions {
      margin-left: 50px;

      img {
        width: 22px;
      }

      .logos-number a {
        margin-left: 5px;
        font-size: 13px;
        line-height: 32px;
      }

      button {
        margin-top: 6px;
        display: flex;
        align-items: center;

        img {
          margin-right: 3.5px;
          width: 11px;
        }

        font-size: 8px;
        line-height: 20px;
        padding: 3.5px 4.5px !important;
        width: 135px;
        height: 27px;
      }
    }

    .questions img:nth-child(2) {
      margin-left: -5px;
    }

    .header-title {
      margin-top: 24px;

      h3, h2 {
        margin-bottom: 0;
        text-align: start !important;
        font-size: 17px;
        line-height: 40px;
      }

      h2 {
        margin-top: 0 !important;
        font-size: 50px;
        line-height: 67px;
        letter-spacing: -0.02em;
      }
    }

    .align-items-md-center {
      justify-content: space-between;
      padding: 15px 15px 0 22px !important;
    }

    .header-img {
      margin-top: 47px;
      width: 356px;
      margin-bottom: -72px;
      z-index: 5;
    }

  }

  //.gradient {
  //  position: absolute;
  //  top: -20px;
  //  height: 93px;
  //  background-image: linear-gradient(-360deg, rgba(252, 175, 88, 0.97) 57.97%, rgba(255, 228, 198, 0) 84.95%);
  //  opacity: 0.98;
  //}
  .header-boxes, .section-boxes {
    .box {
      margin-top: 42px;

      img {
        margin-bottom: 18px;
        width: 62px;
      }

      font-size: 13px;
      line-height: 22px;
      margin-bottom: 9px;
    }
  }
  .section-boxes {
    .box:nth-child(1) {
      margin-top: 447px !important;
    }

    .box:nth-child(4) {
      margin-bottom: 42px !important;
    }

    .box {
      margin-bottom: 0 !important;
      margin-top: 41px !important;

      h2 {
        font-size: 41px;
        line-height: 62px;
      }

      p {
        font-size: 16px;
        line-height: 19px;
      }
    }
  }
  main, .da {
    .kulcha {
      right: 0;
      top: 272px;
      width: 127px;
    }

    .kulcha2 {
      top: 594px;
      right: 0;
    }

    .title {
      h2 {
        margin-top: 39px;
        font-size: 29px;
        line-height: 40px;

      }
    }

    .main-boxes {
      padding: 31px 0 0 0;
      height: 155px;
      margin-top: 17px;

      img {
        width: 70px;
      }

      h3 {
        margin-top: 12px;
        font-size: 16px;
        line-height: 15px;
      }
    }


    .input-row {
      width: unset !important;
      background-color: #fff;
      border-radius: 18px;
      padding: 12px;
      margin: 64px 0 0 0 !important;
      box-shadow: 0 8px 67px rgba(127, 136, 155, 0.2);

    }

    .div-input {
      padding: 10px 29px 18px 29px;

      h3 {
        margin-bottom: 0;
        font-size: 21px;
        line-height: 29px;
      }

      p {
        margin-top: 6px;
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 32px;
      }

      .myForm {
        width: 100%;

        form {
          flex-direction: column;
        }

        input, button {
          margin-top: 18px;
          margin-right: 0;
          width: 276px;
          height: 44px;
        }

        button {
          padding: 13px 64px;
          font-size: 16px;
        }
      }
    }


    .main-boxes-2 .main-boxes {
      img {
        width: 54px;
      }

      height: 188px;
      width: 170px;

      h2, p {
        font-size: 15px;
        line-height: 18px;
      }

      p {
        font-size: 13px;
        line-height: 15px;
      }
    }

    .main-boxes-2 .main-boxes:nth-child(1), .main-boxes-2 .main-boxes:nth-child(2) {
      margin-top: 44px;
    }

  }
  .da {
    .input-row {
      margin-top: 220px !important;
      margin-right: 15px !important;
    }
  }
  .last-main {
    .brands {
      img {
        width: 64px;
      }

      height: 94px;
    }
  }
  .inputs-second .input-row .div-input {
    padding: 12px 16px 23px 16px !important;

    h3 {
      font-size: 29px;
      line-height: 47px;
    }

    p {
      font-size: 14px;
      line-height: 26px;
    }
  }
  .inputs-second {
    margin-bottom: 56px;
  }
  .last-section {
    margin-top: 34px;

    .col-12 {

      h2 {
        text-align: center;
        font-size: 29px;
        line-height: 48px;
      }

      img {
        width: 364px !important;
      }

      h3 {
        font-size: 17px;
        line-height: 20px;
      }
    }
  }

  footer {
    margin-top: 0;
    padding: 25px 0 33px 15px !important;

    .only-mobile {
      .logo-name {
        .logo {
          img {
            width: 47px;
          }
        }

        .name {
          margin-left: 13px;

          .per {
            font-size: 12px;
            line-height: 17px;
            margin-top: 20px;
            color: #8a8a8a;
            text-decoration: underline;
          }

          h3, p {
            color: #ffffff;
            font-size: 12px;
            margin-bottom: 0;
          }

          p {
            margin-top: 5px;
            letter-spacing: 0.04em;
            color: #B7BDD0;
            font-size: 10px;
            line-height: 16px;
          }
        }

        .logos-number {
          margin-left: 55px;

          .address, .time {
            font-size: 12px;
            line-height: 20px;

            img {
              width: 15px;
            }
          }

          .time {
            img {
              width: 18px;
            }
          }

          img:nth-child(2) {
            margin-left: -5px;
          }

          a {
            font-size: 13px;
            line-height: 32px;
            color: #ffffff;
            margin-left: 5px;
          }
        }
      }
    }
  }
}


